<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{host/layouts/host-layout}">

<th:block layout:fragment="content">
   <div class="card mb-3">
      <div class="card-header">
         <h2>상품 관리</h2>
      </div>
      <div class="card-body">
         <div class="card p-3">
            <form action="/host/product/productList" method="get" id="searchForm">
               <div class="row mb-3 align-items-center">
                  <div class="col-md-2">
                     <label class="col-form-label">등록일</label>
                  </div>
                  <div class="col-md-10">
                     <div class="row">
                        <div class="col-4">
                           <div class="input-group">
                              <input type="date" class="form-control form-control-sm" id="search_start_date" name="start_date" th:value="${pageMaker.cri.start_date}" min="2019-01-01" max="2025-12-31">
                           </div>
                        </div>
                        <div class="col-auto align-content-center px-md-0">-</div>
                        <div class="col-4">
                           <div class="input-group">
                              <input type="date" class="form-control form-control-sm" id="search_end_date" name="end_date" th:value="${pageMaker.cri.end_date}" min="2019-01-01" max="2025-12-31">
                           </div>
                        </div>
                        <div class="col-md-auto mt-2 mt-md-0 align-content-center">
                           <div class="btn-group" role="group">
                              <button type="button" class="btn btn-outline-secondary btn-sm date-range-btn" data-range="today">오늘</button>
                              <button type="button" class="btn btn-outline-secondary btn-sm date-range-btn" data-range="1week">1주일</button>
                              <button type="button" class="btn btn-outline-secondary btn-sm date-range-btn" data-range="1month">1개월</button>
                              <button type="button" class="btn btn-outline-secondary btn-sm date-range-btn" data-range="1year">1년</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               
               <div class="row mb-3 align-items-center">
                  <div class="col-md-2">
                     <label class="col-form-label">노출여부</label>
                  </div>
                  <div class="col-md-10">
                     <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="visible_status" id="visible_status1" value="" checked>
                        <label class="form-check-label" for="displayStatus1">전체</label>
                     </div>
                     <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="visible_status" id="visible_status2" value="Y" th:checked= "${pageMaker.cri.visible_status == 'Y'}">
                        <label class="form-check-label" for="displayStatus1">노출</label>
                     </div>
                     <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="visible_status" id="visible_status3" value="N" th:checked= "${pageMaker.cri.visible_status == 'N'}">
                        <label class="form-check-label" for="displayStatus2">숨김</label>
                     </div>
                  </div>
               </div>

               <div class="row align-items-center">
                  <div class="col-md-2">
                     <label for="keyword" class="col-form-label">검색어</label>
                  </div>
                  <div class="col-md-10">
                     <div class="row">
                        <div class="col-3 pe-0">
                           <select class="form-select form-select-sm" name="searchType" id="searchType">
                              <option value="">검색종류 선택</option>
                              <option value="space_name" th:selected="${pageMaker.cri.searchType == 'space_name'}">공간이름</option>
                              <option value="name" th:selected="${pageMaker.cri.searchType == 'name'}">상품이름</option>
                           </select>
                        </div>
                        <div class="col-md-6 col-auto">
                           <div class="input-group">
                              <input type="text" class="form-control form-control-sm" name="keyword" id="keyword" th:value="${pageMaker.cri.keyword}" placeholder="검색어 입력">
                              <button class="btn btn-outline-secondary btn-sm" type="submit">
                                 <i class="bi bi-search"></i>
                              </button>
                           </div>
                        </div>
                        <div class="col-md-auto">
                           <button type="button" class="btn btn-secondary btn-sm" id="btn_searchReset">초기화</button>
                        </div>
                     </div>
                  </div>
               </div>

            </form>
         </div> <!-- 검색 카드 end -->
      </div>
   </div> <!-- 상단 카드 end -->

   <div class="card">
      <div class="card-body">
         <div class="d-flex justify-content-between mb-2">
            <div>
               <button class="btn btn-outline-danger text-nowrap btn-sm" id="btn_seletedDelete">선택삭제</button>
               <a class="btn btn-primary btn-sm fw-bold" href="/host/product/createProduct">상품 등록</a>

            </div>
            <div class="d-flex gap-1">
               <select class="form-select form-select-sm w-auto" id="change_orderBy">
                  <option value="desc" th:selected= "${pageMaker.cri.orderBy == 'desc'}">등록일 ▼</option>
                  <option value="" th:selected= "${pageMaker.cri.orderBy == '' || pageMaker.cri.orderBy == null}">등록일 ▲</option>
               </select>
               <select class="form-select form-select-sm w-auto" id="change_perPageNum">
                  <option value="5" th:selected= "${pageMaker.cri.perPageNum == 5}">5개씩</option>
                  <option value="10" th:selected= "${pageMaker.cri.perPageNum == 10}">10개씩</option>
               </select>
            </div>
         </div>
         <div class="table-responsive">
            <table class="table table-bordered table-hover">
               <thead class="table-light text-center text-nowrap">
                  <tr>
                     <th style="width: 5%;"><input type="checkbox" id="checkAll"> <!-- 전체 선택 체크박스 --></th>
                     <th style="width: 10%;">노출/숨김</th>
                     <th style="width: 20%;">공간 이름</th>
                     <th style="width: 17%;">상품이름</th>
                     <th style="width: 10%;">가격</th>
                     <th style="width: 15%;">상품 이미지</th>
                     <th style="width: 13%;">등록일</th>
                     <th style="width: 10%;">관리</th>
                  </tr>
               </thead>
               <tbody class="text-center align-middle">
                  <tr th:each= "product:${productList}">
                     <td><input type="checkbox" class="itemCheckbox" name="itemCheckbox" th:value="${product.product_id}"></td>
                     <td>
                        <span class="badge text-bg-warning fs-6" th:if= "${product.is_visible == 'Y'}">노출</span>
                        <span class="badge text-bg-info fs-6" th:unless= "${product.is_visible == 'Y'}">숨김</span>
                     </td>
                     <td>[[${product.hostSpace.space_name}]]</td> 
                     <td>[[${product.name}]]</td>
                     <td>[[${product.price}]]원</td>
                     <td>
                        <div class="flex-column">
                           <img th:if= "${!product.images.isEmpty()}" 
                              th:src="@{'/api/image/display/' + ${product.images[0].image_up_folder} + '/' + 's_' + ${product.images[0].image_name}}"
                              class="img-fluid rounded"
                              alt="공간 대표 이미지">
                           <img th:unless= "${!product.images.isEmpty()}" 
                              src="/images/no-image.png"
                              class="img-fluid rounded"
                              alt="이미지 없음">
                        </div>
                     </td>
                     <td><small>[[${#temporals.format(product.created_at, 'yyyy-MM-dd HH:mm:ss')}]]</small></td>
                     <td>
                        <button class="btn btn-outline-success btn-sm text-nowrap" name="btn_modify" th:data-product_id="${product.product_id}">수정하기</button>
                        <button class="btn btn-outline-danger btn-sm text-nowrap" name="btn_delete" th:data-product_id="${product.product_id}">삭제하기</button>
                        <button class="btn btn-outline-secondary btn-sm text-nowrap btn-detail-modal"
                           data-bs-toggle="modal" data-bs-target="#productDetailModal"
                           th:data-product_id="${product.product_id}"
                           th:data-product_name="${product.name}"
                           th:data-space_name="${product.hostSpace.space_name}"
                           th:data-price="${product.price}"
                           th:data-is_visible="${product.is_visible}"
                           th:data-created_at="${#temporals.format(product.created_at, 'yyyy-MM-dd HH:mm:ss')}"
                           th:data-updated_at="${#temporals.format(product.updated_at, 'yyyy-MM-dd HH:mm:ss')}"
                           th:data-product_intro="${product.product_intro}"
                        >상세보기</button>
                     </td>
                  </tr>
               </tbody>
   
            </table>
         </div>
      </div><!-- card-body end -->
      <div class="card-footer d-flex justify-content-center">
         <ul class="pagination pagination-sm m-0 float-right">
            <th:block th:if="${pageMaker.prev}">
               <li class="page-item"><a class="page-link"
                     th:href="|/host/product/productList${pageMaker.makeSearch(pageMaker.startPage - 1)}|">«</a>
               </li>
            </th:block>

            <th:block th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
               <th:block th:if= "${num == 0}"></th:block>
               <li class="page-item" th:unless= "${num == 0}" th:classappend="${pageMaker.cri.page == num ? 'active' : ''}">
                  <a
                     class="page-link" 
                     th:href="|/host/product/productList${pageMaker.makeSearch(num)}|"
                     th:text="${num}">
                  </a>
               </li>
            </th:block>

            <th:block th:if="${pageMaker.next}">
               <li class="page-item"><a class="page-link"
                     th:href="|/host/product/productList${pageMaker.makeSearch(pageMaker.endPage + 1)}|">»</a>
               </li>
            </th:block>
         </ul>
      </div>
   </div>   <!-- card end -->

   <!-- 상품 상세 정보 Modal -->
   <div class="modal fade" id="productDetailModal" tabindex="-1" aria-labelledby="productDetailModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
         <div class="modal-content">
            <div class="modal-header">
                  <h5 class="modal-title" id="productDetailModalLabel">상품 상세 정보</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                  <div class="container-fluid">
                     <div class="row mb-3">
                        <div class="col-md-6 align-content-center">
                              <div id="carouse_main" class="carousel slide carousel-fade" data-bs-ride="carousel">
                                 <div class="carousel-inner" id="carousel-inner">
                                    <!-- carousel-item 동적 생성 -->
                                 </div>
                              
                                 <button class="carousel-control-prev" type="button" data-bs-target="#carouse_main" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                 </button>
                                 <button class="carousel-control-next" type="button" data-bs-target="#carouse_main" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                 </button>
                              </div>
                        </div>
                        <div class="col-md-6">
                              <h4 id="modalProductName" class="fw-bold"></h4>
                              <p id="modalSpaceName" class="text-muted"></p>
                              <hr>
                              <p><span class="fw-bold">가격:</span> <span id="modalProductPrice"></span>원</p>
                              <p><span class="fw-bold">노출/숨김:</span> <span id="modalIsVisible"></span></p>
                              <p><span class="fw-bold">등록일:</span> <span id="modalCreatedAt"></span></p>
                              <p><span class="fw-bold">수정일:</span> <span id="modalUpdatedAt"></span></p>
                        </div>
                     </div>
                     <hr>
                     <div class="row">
                        <div class="col-12">
                              <h6 class="fw-bold">상품 소개</h6>
                              <div id="modalProductIntro"></div>
                        </div>
                     </div>
                  </div>
            </div>
            <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
         </div>
      </div>
   </div>
   <!-- 페이징과 검색 파라미터 정보 : 현재 목록 상태를 작업(수정, 삭제)을 하고 돌아왔을 때 페이지 유지-->
   <form id="criteriaForm" action="" method="get">
      <!-- 4개의 검색 파라미터 -->
      <input type="hidden" name="page"           th:value="${pageMaker.cri.page}"         id="page">
      <input type="hidden" name="perPageNum"     th:value="${pageMaker.cri.perPageNum}"   id="perPageNum">
      <input type="hidden" name="orderBy"        th:value="${pageMaker.cri.orderBy}"      id="orderBy">
      <input type="hidden" name="searchType"     th:value="${pageMaker.cri.searchType}">
      <input type="hidden" name="keyword"        th:value="${pageMaker.cri.keyword}">
      <!-- 날짜 검색 파라미터 -->
      <input type="hidden" name="start_date"     th:value="${pageMaker.cri.start_date}">
      <input type="hidden" name="end_date"       th:value="${pageMaker.cri.end_date}">
      <!-- 노출여부 검색 파라미터 -->
      <input type="hidden" name="visible_status" th:value="${pageMaker.cri.visible_status}">
      
      <!-- 수정, 삭제 시 공간 코드 -->
      <input type="hidden" name="product_id" id="product_id">
   </form>

</th:block>

<th:block layout:fragment="scriptBottom">
   <script th:inline="javascript">
      document.addEventListener("DOMContentLoaded", function() {
         console.log("상품리스트", [[${productList}]]);
         console.log("페이지메이커", [[${pageMaker}]]);

         // 체크 박스 기능
         const checkAll = document.getElementById('checkAll'); // 전체 체크박스 요소 가져오기
         const itemCheckboxes = document.querySelectorAll('.itemCheckbox'); // 개별 체크박스 요소들 가져오기

         // 전체 체크, 해제
         checkAll.addEventListener('change', function() { // 전체 체크박스 변경 이벤트 리스너
            itemCheckboxes.forEach(checkbox => { // 모든 개별 체크박스 순회
               checkbox.checked = this.checked; // 전체 체크박스 상태에 따라 개별 체크박스 상태 변경
            });
         });

         // 각각의 체크가 통일되게 선택되어 있으면, 전체 체크 상태 변경
         itemCheckboxes.forEach(checkbox => { // 각 개별 체크박스 순회하며 이벤트 리스너 추가
            checkbox.addEventListener('change', function() { // 개별 체크박스 변경 이벤트 리스너
               const allChecked = Array.from(itemCheckboxes).every(cb => cb.checked); // 모든 개별 체크박스가 선택되었는지 확인
               checkAll.checked = allChecked; // 모든 개별 체크박스 선택 시 전체 체크박스도 선택 상태로 변경
            });
         });

         // 체크된 공간 삭제
         document.getElementById('btn_seletedDelete').addEventListener('click', function() {
            if(!confirm("정말로 삭제 하시겠습니까?")) return;
            
            const selectedItemId = [];
            const checkedItems = document.querySelectorAll('.itemCheckbox:checked');   // 체크된 체크박스 요소

            if(checkedItems.length == 0) {
               alert("선택된 상품이 없습니다.");
               return;
            }1

            checkedItems.forEach(check => {
               selectedItemId.push(check.value);   // 체크박스 value 값을 배열에 추가
            });

            fetch('/host/product/selectedDelete', {
               method: 'POST',
               headers: {
                  'Content-type' : 'application/json'
               },
               body: JSON.stringify(selectedItemId)
            })
            .then(response => {
               if (!response.ok) { 
                  throw new Error(`HTTP error! status: ${response.status}`);
               }
            })
            .then(data => {
               // 서버에서 삭제 성공 응답을 받았을 때
               alert("선택된 상품이 삭제되었습니다."); 
               location.reload();
            })
            .catch(error => {
               // 네트워크 에러나 서버 에러 발생 시
               console.error('삭제 요청 실패:', error); 
               alert('삭제 처리 중 오류가 발생했습니다.'); 
            });
         });

         // 기존 페이지 정보 form
         const criteriaForm = document.getElementById('criteriaForm');

         // 수정 삭제 버튼
         const btnModifyList = document.querySelectorAll('button[name=btn_modify]');
         const btnDeleteList = document.querySelectorAll('button[name=btn_delete]');
         
         // 수정
         btnModifyList.forEach(btnModify => {
            btnModify.addEventListener('click', function() {
               const product_id = btnModify.dataset.product_id;
               document.getElementById('product_id').setAttribute('value', product_id);
               criteriaForm.setAttribute('action', '/host/product/modifyProduct');
               criteriaForm.submit();
            });
         });

         // 삭제
         btnDeleteList.forEach(btnDelete => {
            btnDelete.addEventListener('click', function() {
               if(!confirm("정말로 삭제 하시겠습니까?")) return;
               const product_id = btnDelete.dataset.product_id;
               document.getElementById('product_id').setAttribute('value', product_id);
               criteriaForm.setAttribute('action', '/host/product/deleteProduct');
               criteriaForm.submit();
            });
         });

         // 날짜 범위 버튼 클릭 이벤트
         const dateRangeButtons = document.querySelectorAll('.date-range-btn');
         dateRangeButtons.forEach(button => {
            button.addEventListener('click', function () {
               const range = this.dataset.range;
               let startDate = '';
               let endDate = '';

               const today = new Date();
               const todayString = today.toISOString().slice(0, 10); // YYYY-MM-DD 형식

               if (range === 'today') {
                  startDate = todayString;
                  endDate = todayString;
               } else if (range === '1week') {
                  const oneWeekAgo = new Date(today);
                  oneWeekAgo.setDate(today.getDate() - 7);
                  startDate = oneWeekAgo.toISOString().slice(0, 10);
                  endDate = todayString;
               } else if (range === '1month') {
                  const oneMonthAgo = new Date(today);
                  oneMonthAgo.setMonth(today.getMonth() - 1);
                  startDate = oneMonthAgo.toISOString().slice(0, 10);
                  endDate = todayString;
               } else if (range === '1year') {
                  const oneYearAgo = new Date(today);
                  oneYearAgo.setFullYear(today.getFullYear() - 1);
                  startDate = oneYearAgo.toISOString().slice(0, 10);
                  endDate = todayString;
               }

               document.querySelector('#search_start_date').value = startDate;
               document.querySelector('#search_end_date').value = endDate;
            });
         });

         // 검색 조건 초기화
         const searchForm = document.getElementById('searchForm');
         const btn_searchReset = document.getElementById('btn_searchReset');

         btn_searchReset.addEventListener('click', function () {
            console.log("리셋");
            document.getElementById('search_start_date').value = "";
            document.getElementById('search_end_date').value = "";
            document.querySelectorAll('visible_status').forEach(function () {
               this.checked = false;
            });
            document.getElementById('visible_status1').checked = true;
            document.getElementById('searchType').selectedIndex  = 0;
            document.getElementById('keyword').value = "";
         });

         // 페이지당 데이터 갯수 변경
         const change_perPageNum = document.getElementById('change_perPageNum');
         change_perPageNum.addEventListener('change', function() {
            document.getElementById('perPageNum').value = this.value;
            criteriaForm.submit();
         });

         // 데이터 조회 정렬 변경
         const change_orderBy = document.getElementById('change_orderBy');
         change_orderBy.addEventListener('change', function() {
            document.getElementById('orderBy').value = this.value;
            document.getElementById('page').value = 1;
            criteriaForm.submit();
         });



         // 상품 상세정보 모달
         const detailButtons = document.querySelectorAll('.btn-detail-modal');

         detailButtons.forEach(function(button) {
            button.addEventListener('click', function() {
               const productId = this.dataset.product_id;
               const productName = this.dataset.product_name;
               const spaceName = this.dataset.space_name;
               const price = this.dataset.price;
               const isVisible = this.dataset.is_visible;
               const createdAt = this.dataset.created_at;
               const updatedAt = this.dataset.updated_at;
               const productIntro = this.dataset.product_intro;

               const imageCarousel = document.getElementById('carousel-inner');

               // 캐러셀 초기화
               imageCarousel.innerHTML = '';

               fetch(`/api/image/products/${productId}`, {
                  method: 'GET',
               })
                  .then(response => {
                     if (!response.ok) {
                           throw new Error(`HTTP error! status: ${response.status}`);
                     }
                     return response.json();
                  })
                  .then(data => {
                     if (data.length > 0) {
                           data.forEach((image, index) => {
                              addCarouselItem(imageCarousel, `/api/image/display/${image.image_up_folder}/s_${image.image_name}`, index === 0);
                           });
                     } else {
                           addCarouselItem(imageCarousel, '/images/no-image.png', true);
                     }
                  })
                  .catch(error => {
                     console.error('이미지 목록 요청 실패:', error);
                     alert('이미지 조회 중 오류가 발생했습니다.');
                  });

               
               function addCarouselItem(container, imagePath, isActive) {
                  const carouselItem = document.createElement('div');
                  carouselItem.classList.add('carousel-item');
                  if (isActive) carouselItem.classList.add('active');

                  const imgElement = document.createElement('img');
                  imgElement.src = imagePath;
                  imgElement.alt = '캐러셀 이미지';
                  imgElement.classList.add('d-block', 'w-100');

                  carouselItem.appendChild(imgElement);
                  container.appendChild(carouselItem);
               }

               document.getElementById('modalProductName').textContent = productName;
               document.getElementById('modalSpaceName').textContent = spaceName;
               document.getElementById('modalProductPrice').textContent = price;
               document.getElementById('modalIsVisible').textContent = isVisible === 'Y' ? '노출' : '숨김';
               document.getElementById('modalCreatedAt').textContent = createdAt;
               document.getElementById('modalUpdatedAt').textContent = updatedAt;
               document.getElementById('modalProductIntro').innerHTML = productIntro;

               const carouselInner = document.querySelector('.carousel-inner');

               const modalProductImage = document.getElementById('modalProductImage');
               // if (imageUrl) {
               //    modalProductImage.setAttribute('src', imageUrl);
               // } else {
               //    modalProductImage.setAttribute('src', noImageUrl);
               // }


            });
         });


      });   // event end
   </script>

</th:block>
</html>