<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skillspace.sgs.host.product.HostProductMapper">

<select id="getCountProductByUser_id" parameterType="String" resultType="int">
	select
		count(*)
	from 
		products p
	inner join 
		host_space hs 
	on 
		p.host_space_id = hs.host_space_id
	where
		p.user_id = #{user_id}
		<include refid="search"></include>
	    <include refid="period"></include>
	    <include refid="visible_status"></include>
</select>

<select id="productList" parameterType="Map" resultMap="ProductWithImageMap">
	select
		p.product_id,
		p.host_space_id,
		p.user_id,
		p.name,
		p.product_intro,
		p.price,
		p.created_at,
		p.updated_at,
		p.is_visible 
	from 
		products p
	inner join 
		host_space hs 
	on 
		p.host_space_id = hs.host_space_id
	where
		p.user_id = #{user_id}
	    <include refid="search"></include>
	    <include refid="period"></include>
	    <include refid="visible_status"></include>
	order by 
	    p.created_at <if test="cri.orderBy.equals('desc')">desc</if>
	limit
	    #{cri.pageStart}, #{cri.perPageNum}
		
</select>

<insert id="create" parameterType="com.skillspace.sgs.host.product.HostProductDTO"
	useGeneratedKeys="true" keyProperty="product_id">
	insert into 
		products(
			host_space_id,
			user_id,
			name,
			product_intro,
			price,
			is_visible 
		)
		values(
			#{host_space_id},
			#{user_id},
			#{name},
			#{product_intro},
			#{price},
			#{is_visible}
		)
</insert>

<select id="getProductWithImagesById" parameterType="Integer" resultMap="ProductWithImageMap">
	select
		product_id,
		host_space_id,
		user_id,
		name,
		product_intro,
		price,
		created_at,
		updated_at,
		is_visible 
	from 
		products
	where
		product_id = #{product_id}
</select>

<update id="modifyHostProduct" parameterType="com.skillspace.sgs.host.product.HostProductDTO">
	update 
		products 
	set 
		host_space_id = #{host_space_id},
		name = #{name},
		product_intro = #{product_intro},
		price = #{price},
		updated_at = now(),
		is_visible = #{is_visible}
	where
		product_id = #{product_id}
</update>

<select id="getProductUserIdById" parameterType="Integer" resultType="String">
	select 
		user_id
	from 
		products
	where
		product_id = #{product_id}
</select>

<delete id="deleteHostProduct" parameterType="Integer">
	delete from 
		products 
	where
		product_id = #{product_id} 
</delete>

<delete id="selectedDelete">
	delete from 
		products 
	where 
		product_id in 
	<foreach collection="product_id_arr" item="product_id" open="(" separator="," close=")">
		#{product_id}
	</foreach>
</delete>

<resultMap id="ProductWithImageMap" type="com.skillspace.sgs.host.product.HostProductDTO">
	<!-- HostProductDTO 기본 정보 -->
    <id property="product_id" column="product_id"/> <!-- Review PK -->
    <result property="host_space_id" column="host_space_id"/>
    <result property="name" column="name"/>
    <result property="product_intro" column="product_intro"/>
    <result property="price" column="price"/>
    <result property="created_at" column="created_at"/>
    <result property="updated_at" column="updated_at"/>
    
    <!-- HostSpace 1:1 매핑 -->
        <association 
        	property="hostSpace" 
	        javaType="com.skillspace.sgs.host.space.HostSpaceDTO" 
	        column="host_space_id" 
	        select="selectHostSpace"/>
    
     <!-- Images 1:N 매핑 -->
        <collection 
        	property="images" 
        	javaType="java.util.ArrayList" 
        	ofType="com.skillspace.sgs.admin.images.ImagesDTO" 
        	column="product_id" 
        	select="selectImages"/>
</resultMap>

<!-- Category 정보 조회 -->
<select id="selectHostSpace" resultType="com.skillspace.sgs.host.space.HostSpaceDTO">
    select 
	    host_space_id,
		user_id,
		cate_id,
		space_name,
		main_title,
		sub_title,
		space_intro,
		space_guide,
		space_zipcode,
		space_addr,
		space_addrdetail,
		created_at,
		updated_at,
		is_visible
	from
	    host_space
	where 
	    host_space_id = #{host_space_id}
</select>


<!-- images 목록 조회 -->
<select id="selectImages" resultType="com.skillspace.sgs.admin.images.ImagesDTO">
    select
        image_id,
        entity_type,
        entity_id,
        image_up_folder,
        image_name,
        created_at
    from
        images
    where
        entity_type = 'products'
        and entity_id = #{product_id}
</select>

<sql id="search">
	<if test="cri.searchType != null and !cri.searchType.equals('')">
	   	<if test="cri.searchType == 'space_name'">
	   		and hs.space_name like concat('%', #{cri.keyword}, '%')
	   	</if>
	   	<if test="cri.searchType == 'name'">
	   		and p.name like concat('%', #{cri.keyword}, '%')
	   	</if>
	</if>
</sql>

<sql id="period">
	<if test="cri.start_date != null and !cri.start_date.equals('')">
		<![CDATA[
			and p.created_at >= date(#{cri.start_date})
			]]>
	</if>
	<if test="cri.end_date != null and !cri.end_date.equals('')">
		<![CDATA[
			and p.created_at < date(#{cri.end_date}) + 1
			]]>
	</if>
</sql>

<sql id="visible_status">
	<if test="cri.visible_status != null and !cri.visible_status.equals('')">
			and p.is_visible = #{cri.visible_status}
	</if>
</sql>
</mapper>