<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{host/layouts/host-layout}">

<th:block layout:fragment="scriptTop">
    <script src="/ckeditor/ckeditor.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</th:block>
<th:block layout:fragment="css">
    <style>
        .image-preview-container {
            width: 100%;
            height: 0;
            padding-bottom: 75%; 
            overflow: hidden;
            position: relative; 
            margin-bottom: 0.5rem;
        }
    
        .image-preview-container img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .remove-image-button {
            z-index: 100;
            padding: 0.1rem 0.25rem !important;
        }
    </style>
</th:block>
<th:block layout:fragment="content">
    <div class="card">
        <div class="card-header bg-secondary text-white">
            <h5 class="fw-bold my-2">상품 수정</h5>
        </div>
        <div class="card-body ps-lg-4">
            <form class="needs-validation" novalidate id="spaceInfoForm" action="/host/product/modifyProduct" method="post" enctype="multipart/form-data">
                <!-- 기존 코드 -->
                <div class="row align-items-center">
                    <label class="col-lg-2 col-form-label">상품 노출</label>
                    <div class="col-lg-10">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="is_visible" id="show_visible" value="Y" th:checked= "${productDTO.is_visible == 'Y'}">
                            <label class="form-check-label" for="show_visible">노출</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="is_visible" id="hiddin_visible" value="N" th:checked= "${productDTO.is_visible == 'N'}">
                            <label class="form-check-label" for="hiddin_visible">숨김</label>
                        </div>
                    </div>
                </div>
                
                <div class="row mb-3">
                    <label for="category1" class="col-lg-2 col-form-label ">공간 선택</label>
                    <div class="col-auto mb-2 mb-lg-0">
                        <select class="form-select" name="host_space_id" id="host_space_id">
                            <option disabled selected>-- 공간을 선택해주세요 --</option>
                            <option th:each= "space_info:${spaceList}" th:value="${space_info.host_space_id}" th:text="${space_info.space_name}" th:selected= "${space_info.host_space_id == productDTO.hostSpace.host_space_id}"></option>
                        </select>
                        <div class="invalid-feedback" id="space_invalid">공간을 선택하세요</div>
                    </div>
                </div>
                    
                
                <hr class="my-4">  

                <div class="mb-3 row">
                    <label for="name" class="col-lg-2 col-form-label">상품 이름</label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" id="name" name="name" th:value="${productDTO.name}" placeholder="예: 201호 무슨실" maxlength="30" required>
                        <div class="invalid-feedback">상품 이름을 입력하세요</div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="price" class="col-lg-2 col-form-label">상품 가격</label>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <input type="text" class="form-control" id="price" name="price" th:value="${productDTO.price}" placeholder="예: 30000" maxlength="7" required>
                            <span class="input-group-text">원</span>
                            <div class="invalid-feedback">상품 가격을 입력하세요</div>
                        </div>
                    </div>

                </div>

                <hr class="my-4">

                <!-- 추가된 필드 시작 -->
                <div class="mb-3 row">
                    <label for="max_headcount" class="col-lg-2 col-form-label">최대 수용 인원</label>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <input type="number" class="form-control" id="max_headcount" name="max_headcount" th:value="${productDTO.max_headcount}" placeholder="예: 10" min="1" max="99" required>
                            <span class="input-group-text">명</span>
                            <div class="invalid-feedback">최대 수용 인원을 입력하세요 (1-99 사이)</div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="time_slot" class="col-lg-2 col-form-label">예약 시간 단위</label>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <input type="number" class="form-control" id="time_slot" name="time_slot" th:value="${productDTO.time_slot}" placeholder="예: 1" min="1" max="24" required>
                            <span class="input-group-text">시간</span>
                            <div class="invalid-feedback">예약 시간 단위를 입력하세요 (1-24 사이)</div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-lg-2 col-form-label">운영 시간</label>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-md-6">
                                <select class="form-select time-select" id="open_time" name="open_time" required>
                                    <option value="" disabled selected>시작 시간 선택</option>
                                    <!-- 옵션은 JavaScript로 동적 생성 -->
                                </select>
                                <div class="invalid-feedback">시작 시간을 선택하세요</div>
                            </div>
                            <div class="col-md-6">
                                <select class="form-select time-select" id="close_time" name="close_time" required>
                                    <option value="" disabled selected>종료 시간 선택</option>
                                    <!-- 옵션은 JavaScript로 동적 생성 -->
                                </select>
                                <div class="invalid-feedback">종료 시간을 선택하세요</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 추가된 필드 끝 -->

                <!-- 기존 코드 -->
                <div class="mb-3 row">
                    <label class="col-lg-2 col-form-label">공간 이미지</label>
                    <div class="col-lg-10">
                        <div class="row mb-3">
                            <div class="col-lg-4 col-6">
                                <div class="card shadow-sm mb-2">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <h5 class="card-title badge text-bg-secondary">대표 이미지</h5>
                                        <button type="button" class="btn btn-sm btn-danger remove-image-button position-absolute top-0 end-0 m-1" data-image-number="1" style="display:none;">
                                            <i class="bi bi-x-lg"></i>
                                        </button>
                                        <div class="image-preview-container mb-2">
                                            <img id="preview1" src="#" alt="미리보기" class="img-thumbnail rounded" style="display: none; max-width: 100%; height: auto; object-fit: cover; aspect-ratio: 4/3;">
                                        </div>
                                        <input class="form-control form-control-sm" type="file" id="image1" name="imageFiles" accept="image/*">
                                        <input type="hidden" id="loadImage1" name="loadImages" value="">
                                        <input type="hidden" id="changeImage1" name="changeImages" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-6">
                                <div class="card shadow-sm mb-2">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <h5 class="card-title badge text-bg-secondary">이미지 2</h5>
                                        <button type="button" class="btn btn-sm btn-danger remove-image-button position-absolute top-0 end-0 m-1" data-image-number="2" style="display:none;">
                                            <i class="bi bi-x-lg"></i>
                                        </button>
                                        <div class="image-preview-container mb-2">
                                            <img id="preview2" src="#" alt="미리보기" class="img-thumbnail rounded" style="display: none; max-width: 100%; height: auto; object-fit: cover; aspect-ratio: 4/3;">
                                        </div>
                                        <input class="form-control form-control-sm" type="file" id="image2" name="imageFiles" accept="image/*">
                                        <input type="hidden" id="loadImage2" name="loadImages" value="">
                                        <input type="hidden" id="changeImage2" name="changeImages" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-6 mt-2 m-lg-0">
                                <div class="card shadow-sm mb-2">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <h5 class="card-title badge text-bg-secondary">이미지 3</h5>
                                        <button type="button" class="btn btn-sm btn-danger remove-image-button position-absolute top-0 end-0 m-1" data-image-number="3" style="display:none;">
                                            <i class="bi bi-x-lg"></i>
                                        </button>
                                        <div class="image-preview-container mb-2">
                                            <img id="preview3" src="#" alt="미리보기" class="img-thumbnail rounded" style="display: none; max-width: 100%; height: auto; object-fit: cover; aspect-ratio: 4/3;">
                                        </div>
                                        <input class="form-control form-control-sm" type="file" id="image3" name="imageFiles" accept="image/*">
                                        <input type="hidden" id="loadImage3" name="loadImages" value="">
                                        <input type="hidden" id="changeImage3" name="changeImages" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="my-4">  

                <div class="mb-3 row">
                    <label for="product_intro" class="col-lg-2 col-form-label">상품 소개</label>
                    <div class="col-lg-10">
                        <textarea id="product_intro" name="product_intro" th:text="${productDTO.product_intro}" required></textarea>
                        <div class="invalid-feedback" id="product_intro_invalid">상품 소개를 입력하세요</div>
                    </div>
                </div>

                <hr class="my-4">  
                
                <div class="text-center">
                    <button type="submit" class="btn btn-primary w-25">수정하기</button>
                    <button type="reset" class="btn btn-outline-secondary w-25">취소</button>
                </div>
                <!-- 페이징과 검색 파라미터 정보 : 현재 목록 상태를 작업(수정, 삭제)을 하고 돌아왔을 때 페이지 유지-->
                <!-- 검색 파라미터 -->
                <input type="hidden" name="page"            id="page"           th:value="${cri.page}">
                <input type="hidden" name="perPageNum"      id="perPageNum"     th:value="${cri.perPageNum}">
                <input type="hidden" name="searchType"      id="searchType"     th:value="${cri.searchType}">
                <input type="hidden" name="keyword"         id="keyword"        th:value="${cri.keyword}">
                <input type="hidden" name="orderBy"         id="orderBy"        th:value="${cri.orderBy}">
                <input type="hidden" name="start_date"      id="start_date"     th:value="${cri.start_date}">
                <input type="hidden" name="end_date"        id="end_date"       th:value="${cri.end_date}">
                <input type="hidden" name="visible_status"  id="visible_status" th:value="${cri.visible_status}">

                <!-- 수정할 상품 아이디 -->
                <input type="hidden" name="product_id" th:value="${productDTO.product_id}">
            </form>
        </div>
    </div>

</th:block>

<th:block layout:fragment="scriptBottom">
    <script th:inline="javascript">
        $(document).ready(function () {

            console.log("상품 정보", [[${productDTO}]]);
            console.log("공간 목록", [[${spaceList}]]);

            loadImage();

            // 기존 이미지 출력
            function loadImage() {
                const images = [[${productDTO.images}]];
                let imageNumber = 1;
                images.forEach(image => {
                    const loadImage = $('#loadImage' + imageNumber);
                    const changeImage = $('#changeImage' + imageNumber);
                    const $preview = $('#preview' + imageNumber);
                    const removeButton = $('.remove-image-button[data-image-number="' + imageNumber + '"]');
                    $preview.attr('src', `/api/image/display/${image.image_up_folder}/s_${image.image_name}`);
                    $preview.show();
                    removeButton.show();
                    loadImage.val(image.image_id);  // 기존 이미지
                    changeImage.val(image.image_id);  // 기존 이미지
                    imageNumber++;
                });
            }


            // 이미지 미리보기 함수
            function previewImage(imageNumber) {
                const fileInput = $('#image' + imageNumber);
                const $preview = $('#preview' + imageNumber);
                const changeImage = $('#changeImage' + imageNumber);
                const removeButton = $('.remove-image-button[data-image-number="' + imageNumber + '"]');
                const file = fileInput[0].files[0];

                if (file) {
                    const reader = new FileReader();
                    reader.onload = function () {
                        $preview.attr('src', reader.result).show();
                        removeButton.show();
                    }
                    reader.readAsDataURL(file);
                } else {
                    $preview.attr('src', '#').hide();
                    removeButton.hide();
                }
                changeImage.val("");  // 기존 이미지 변경
            }

            // 이벤트 리스너 연결
            $('#image1').on('change', function () { previewImage(1); });
            $('#image2').on('change', function () { previewImage(2); });
            $('#image3').on('change', function () { previewImage(3); });

            // 제거 버튼 이벤트 리스너
            $('.remove-image-button').on('click', function () {
                const imageNumber = $(this).data('image-number');
                removeImage(imageNumber);
            });

            // 이미지 제거 함수
            function removeImage(imageNumber) {
                const $preview = $('#preview' + imageNumber);
                const loadImage = $('#loadImage' + imageNumber);
                const changeImage = $('#changeImage' + imageNumber);
                const fileInput = $('#image' + imageNumber);
                const removeButton = $('.remove-image-button[data-image-number="' + imageNumber + '"]'); // 제거 버튼

                $preview.attr('src', '#').hide(); // 미리보기 이미지 숨김
                changeImage.val(""); // changeImages input 에 "delete" 설정 (서버에서 삭제될 이미지 명시)
                fileInput.val(""); // 파일 input 내용 비움 (파일 선택 초기화)
                removeButton.hide(); // 제거 버튼 숨김
            }

            // 상품가격 숫자만 입력 이벤트
            $("#price").on('input', function (e) {
                let input = e.target.value.replace(/[^0-9]/g, '');
                e.target.value = input;
            });
            // 최대 수용 인원 숫자만 입력 이벤트
            $("#max_headcount").on('input', function (e) {
                let input = e.target.value.replace(/[^0-9]/g, '');
                e.target.value = input;
            });
            // 예약 시간 단위 숫자만 입력 이벤트
            $("#time_slot").on('input', function (e) {
                let input = e.target.value.replace(/[^0-9]/g, '');
                e.target.value = input;
            });

            // 유효성 검사
            $("#spaceInfoForm").on("submit", function (event) {
                // CKEditor 내용 textarea에 강제 동기화
                if (typeof CKEDITOR !== 'undefined') {
                    for (const instanceName in CKEDITOR.instances) {
                        CKEDITOR.instances[instanceName].updateElement();
                    }
                }

                let valid = true;
                const product_intro = $("#product_intro");
                const product_intro_invalid = $("#product_intro_invalid");
                const select_host_space_id = $("#host_space_id");
                const selectedOption = select_host_space_id.find("option:selected");
                const max_headcount = $("#max_headcount");
                const time_slot = $("#time_slot");
                const open_time = $("#open_time");
                const close_time = $("#close_time");


                // 상품소개 유효성 검사
                if (!product_intro.val()) {
                    product_intro_invalid.show();
                    valid = false;
                } else {
                    product_intro_invalid.hide();
                }

                // 공간 선택 유효성 검사
                if (!select_host_space_id.val() || select_host_space_id.val() === "") {
                    select_host_space_id.addClass("is-invalid");
                    $("#space_invalid").show();
                    valid = false;
                } else {
                    select_host_space_id.removeClass("is-invalid");
                    $("#space_invalid").hide();
                }

                // 최대 수용 인원 유효성 검사
                if (max_headcount.val() < 1 || max_headcount.val() > 99) {
                    max_headcount.addClass("is-invalid");
                    valid = false;
                } else {
                    max_headcount.removeClass("is-invalid");
                }

                // 예약 시간 단위 유효성 검사
                if (time_slot.val() < 1 || time_slot.val() > 24) {
                    time_slot.addClass("is-invalid");
                    valid = false;
                } else {
                    time_slot.removeClass("is-invalid");
                }

                // 운영 시간 유효성 검사
                if (!open_time.val() || !close_time.val()) {
                    open_time.addClass("is-invalid");
                    close_time.addClass("is-invalid");
                    valid = false;
                } else {
                    open_time.removeClass("is-invalid");
                    close_time.removeClass("is-invalid");
                }

                if (!this.checkValidity() || !valid) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                $(this).addClass('was-validated');
            });

            // 운영시간에 동적으로 시간 옵션 생성 및 기존 데이터 설정
            populateTimeOptions([[${ productDTO.open_time }]], [[${ productDTO.close_time }]]);

            function populateTimeOptions(openTime, closeTime) {
                $('.time-select').each(function () {
                    for (let i = 0; i < 24; i++) {
                        const hour = i.toString().padStart(2, '0');
                        const option = $('<option>', {
                            value: `${hour}:00`,
                            text: `${hour}:00`
                        });

                        // HH:mm:ss 형식에서 HH:mm 추출
                        const openTimeHHMM = openTime ? openTime.substring(0, 5) : "";
                        const closeTimeHHMM = closeTime ? closeTime.substring(0, 5) : "";

                        if (this.id === 'open_time' && `${hour}:00` === openTimeHHMM) {
                            option.attr('selected', 'selected');
                        }
                        if (this.id === 'close_time' && `${hour}:00` === closeTimeHHMM) {
                            option.attr('selected', 'selected');
                        }
                        $(this).append(option);
                    }
                });
            }


            //CKEDITOR 설정
            const ckeditor_config_intro = {
                removeButtons: "Image",
                editorplaceholder: "상품에 대한 자세한 설명을 입력해주세요."
            };
            CKEDITOR.replace('product_intro', ckeditor_config_intro);


            if (!CKEDITOR.tools.debounce) {
                CKEDITOR.tools.debounce = function (func, wait) {
                    var timeout;
                    return function () {
                        var context = this, args = arguments;
                        clearTimeout(timeout);
                        timeout = setTimeout(function () {
                            func.apply(context, args);
                        }, wait);
                    };
                };
            }

        });

    </script>
</th:block>
</html>
