<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skillspace.sgs.admin.images.ImagesMapper">

<insert id="image_upload" parameterType="com.skillspace.sgs.admin.images.ImagesDTO">
	insert into 
		images(
			entity_type,
			entity_id,
			image_up_folder,
			image_name
			)
		values(
			#{entity_type},
			#{entity_id},
			#{image_up_folder},
			#{image_name}
		)
</insert>

<select id="getImagesByEntity" parameterType="Map" resultType="com.skillspace.sgs.admin.images.ImagesDTO">
	select 
		image_id,
		entity_type,
		entity_id,
		image_up_folder,
		image_name,
		created_at
	from 
		images
	where 
		entity_type = #{entity_type}
	and
		entity_id = #{entity_id}
	
</select>

<select id="getImageById" parameterType="Integer" resultType="com.skillspace.sgs.admin.images.ImagesDTO">
	select 
		image_id,
		entity_type,
		entity_id,
		image_up_folder,
		image_name,
		created_at
	from 
		images
	where 
		image_id = #{image_id}
</select>

<delete id="deleteImage" parameterType="Integer">
	delete from
		images
	where
		image_id = #{image_id}
</delete>

<delete id="deleteImageByEntity" parameterType="Map">
	delete from
		images
	where 
		entity_type = #{entity_type}
	and
		entity_id = #{entity_id}
</delete>


</mapper>