<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:laout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="content">
   <div class="row mt-5">
      <div class="col-3">
         <h1>MyPage</h1>
      </div>
      <div class="col-9">
         <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6 col-xxl-5">
               <div class="card border-0 shadow-sm rounded-4">
                  <div class="card-body p-3 p-md-4 p-xl-5">
                     <div class="row">
                        <div class="col-12">
                           <div class="mb-3 text-center">
                              <h3>비밀번호 변경</h3>
                           </div>
                        </div>
                     </div>
                     <form class="aaa">
                        <div class="row gy-3 overflow-hidden">

                           <div class="col-12">
                              <div class="form-floating">
                                 <input type="password" class="form-control" name="cur_pw" id="cur_pw" placeholder="password" required>
                                 <label for="cur_pw" class="form-label">기존 비밀번호</label>
                                 <div class="invalid-feedback">현재 비밀번호를 입력해주세요.</div>
                              </div>
                           </div>
                           <div class="col-12">
                              <div class="form-floating">
                                 <input type="password" class="form-control" name="new_pw" id="new_pw" placeholder="new_password" pattern="^(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,16}$" required>
                                 <label for="new_pw" class="form-label">신규 비밀번호</label>
                              </div>
                              <div class="form-floating">
                                 <input type="password" class="form-control mt-3" name="confirm_pw" id="confirm_pw" placeholder="confirm_password" required>
                                 <label for="confirm_pw" class="form-label">비밀번호 확인</label>
                              </div>
                              <div class="form-text text-muted" id="passwordHelp">
                                 영문, 숫자, 특수문자를 포함하여 8자~16자 이내로 입력해주세요.
                              </div>
                              <div class="invalid-feedback" id="passwordError">비밀번호를 입력해주세요</div>
                              <div class="invalid-feedback" id="passwordMatchError">비밀번호가 일치하지 않습니다.</div>
                           </div>


                           <div class="col-12">
                              <div class="d-grid">
                                 <button class="btn bsb-btn-2xl btn-primary" type="button" id="btn_pwchange">비밀번호 변경하기</button>
                              </div>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>

      </div>
   </div>
</th:block>
<th:block layout:fragment="scriptTop">
   <script>
      $(document).ready(function () {

         // // <a> : id="btn_pwchange2"
         // $("#btn_pwchange2").on("click", function(e) {
         // 	e.preventDefault();	// <a> 태그의 링크기능 해제
         // 	$.ajax({
         // 		url : "/userinfo/pwchange2",
         //         type : "get",
         // 		beforeSend : function(xhr) {
         // 			xhr.setRequestHeader("AJAX", "true");	// 스프링의 인터셉터 클래스에서 요청이 ajax인지 구분 목적.
         // 		},
         // 		dataType : "text",
         //         success : function(result) {
         //             if(result == "success") {
         //                 alert("비밀번호 변경2 클릭되었습니다.");
         // 			}
         // 		},
         // 		error : function(xhr) {	// 스프링의 인터셉터 클래스에서 response.sendError(400) 코드가 실행이 되고 제어가 넘어옴.
         // 			alert(xhr.status);
         // 			if(xhr.status == 400) {
         // 				alert("인증된 사용자만 가능합니다.");
         // 				location.href = "/userinfo/login";
         // 			}
         // 		}
         // 	});
         // });


         // 비밀번호 변경하기(로그인 상태)
         // button : id="btn_pwchange"

         const form = document.querySelector('.aaa');
         
         $("#btn_pwchange").on("click", function () {          
            const curPassword = $("#cur_pw").val();
            const newPassword = $("#new_pw").val();
            const confirmPassword = $("#confirm_pw").val();
            const passwordError = form.querySelector("#passwordError");
            const passwordMatchError = form.querySelector("#passwordMatchError");
            const passwordPattern = /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,16}$/;

            // 비밀번호 확인: 일치하지 않으면 오류 메시지 표시
            if (newPassword !== confirmPassword) {
               passwordMatchError.style.display = 'block';
               console.log("passwordMatchError");
               console.log(newPassword, confirmPassword);
            }else {
               passwordMatchError.style.display = 'none';
               console.log("passwordMatchError2");
               console.log(newPassword, confirmPassword, curPassword);
            }
            // 비밀번호 조건 확인: 영문, 숫자, 특수문자 포함, 8자~16자
            if (!passwordPattern.test(newPassword)) {
               passwordHelp.classList.remove('text-muted'); // 원래 상태에서 텍스트 색 제거
               passwordHelp.classList.add('text-danger'); // 오류 상태에서 텍스트 색 변경
            } else {
               passwordHelp.classList.remove('text-danger'); // 오류 색상 제거
               passwordHelp.classList.add('text-muted'); // 원래 상태로 돌아감
            }

            // 입력값이 없을 때
            if (!newPassword) {
               passwordError.style.display = 'block'; // 입력값이 없을 때 오류 메시지 표시
               valid = false;
            } else {
               passwordError.style.display = 'none'; // 입력값이 있을 때 오류 메시지 제거
            }

            // Bootstrap validation
            if(!form.checkValidity()) {
               form.classList.add('was-validated');
               return;
            }


            $.ajax({
               url: "/guest/pwchange",
               type: "post",
               data: {
                  cur_pw: curPassword,
                  new_pw: newPassword
               },
               dataType: "text",
               success: function (result) {
                  if (result == "success") {
                     alert("비밀번호가 변경되었습니다.");
                  } else if (result == "fail") {
                     alert("비밀번호가 일치하지 않습니다.");
                  }
                  
                  location.reload();
               }
            });
         });
      });
   </script>
</th:block>

</html>