<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skillspace.sgs.guest.question.GuestQuestionMapper">
    <!-- 질문 등록 -->
    <insert id="createQuestion">
        insert into 
            questions(
                user_id,
                user_nick,
                host_space_id,
                question_content
            )
            values(
                #{user_id},
                #{user_nick},
                #{host_space_id},
                #{question_content}
            )
            
    </insert>

    <!-- 질문 목록(답변 포함) -->
    <select id="getQuestionWithAnswerBySpaceId" resultMap="qnaResultMap">
        select
            q.question_id,
            q.user_id,
            q.user_nick,
            q.host_space_id,
            q.question_content,
            q.answer_status,
            q.created_at as question_created_at,
            a.answer_id,
            a.answer_content,
            a.created_at as answer_created_at
        from
            questions q
        left outer join
            answer a
        on
            q.question_id = a.question_id
        where
            q.host_space_id = #{host_space_id}
        order by
            q.created_at desc
        limit #{cri.pageStart}, #{cri.perPageNum}
            
    </select>

    <resultMap type="com.skillspace.sgs.guest.question.QuestionDTO" id="qnaResultMap">
        <id property="question_id" column="question_id"/>
        <result property="user_id" column="user_id"/>
        <result property="user_nick" column="user_nick"/>
        <result property="host_space_id" column="host_space_id"/>
        <result property="question_content" column="question_content"/>
        <result property="answer_status" column="answer_status"/>
        <result property="created_at" column="question_created_at"/>
        
        <!-- 답변 -->
        <association property="answer" javaType="java.util.Map">
            <result property="answer_id" column="answer_id"/>
            <result property="answer_content" column="answer_content"/>
            <result property="answer_created_at" column="answer_created_at"/>
        </association>
    </resultMap>

    

    <!-- 전체 질문 개수 조회 -->
    <select id="countQuestionsBySpaceId" resultType="int" parameterType="int">
        select 
            count(*)
        from 
            questions
        where 
            host_space_id = #{host_space_id}
    </select>

    <!-- 유저 아이디로 조회하는 질문목록  -->
    <select id="getQuestionListByUserId" resultMap="MypageQnaResultMap">
        select
            q.question_id,
            q.user_id,
            q.user_nick,
            q.host_space_id,
            q.question_content,
            q.answer_status,
            q.created_at as question_created_at,
            hs.main_title,
            a.answer_id,
            a.answer_content,
            a.created_at as answer_created_at
        from
            questions q
        inner join 
            host_space hs 
        on 
            q.host_space_id = hs.host_space_id
        left outer join
            answer a
        on
            q.question_id = a.question_id
        where
            q.user_id = #{user_id}
        order by
            q.created_at <if test="cri.orderBy.equals('desc')">desc</if>
        limit #{cri.pageStart}, #{cri.perPageNum} 
            

    </select>
    <resultMap type="com.skillspace.sgs.guest.mypage.QnaWithSpaceDTO" id="MypageQnaResultMap">
        <id property="question_id" column="question_id"/>
        <result property="user_id" column="user_id"/>
        <result property="user_nick" column="user_nick"/>
        <result property="host_space_id" column="host_space_id"/>
        <result property="question_content" column="question_content"/>
        <result property="answer_status" column="answer_status"/>
        <result property="question_created_at" column="question_created_at"/>
        <association property="hostSpace" javaType="java.util.Map">
            <result property="main_title" column="main_title"/>
        </association>
        <association property="answer" javaType="java.util.Map">
            <result property="answer_id" column="answer_id"/>
            <result property="answer_content" column="answer_content"/>
            <result property="answer_created_at" column="answer_created_at"/>
        </association>
    </resultMap>

    <!-- 유저 아이디로 조회하는 질문 개수 --> 

    <select id="getCountQuestionListByUserId" resultType="int">
        select
            count(*)
        from
            questions q
        where
            q.user_id = #{user_id}

    </select>    


    <!-- 질문 아이디로 조회 --> 
    <select id="getQuestionById" resultType="com.skillspace.sgs.guest.question.QuestionDTO">
        select
            question_id,
            host_space_id,
            user_id,
            user_nick,
            question_content,
            answer_status,
            created_at
        from
            questions
        where
            question_id = #{question_id}
    </select>

    <!-- 질문 수정 --> 
    <update id="modifyQuestion">
        update
            questions
        set
            question_content = #{question_content},
            created_at = now()
        where
            question_id = #{question_id}
    </update>
    
    <!-- 질문 삭제 --> 
    <delete id="deleteQuestion">
        delete from
            questions
        where
            question_id = #{question_id}
    </delete>    

    </mapper>